<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pomodoro</title>

    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="button-container">
      <button class="active">Pomodoro</button>
      <button class="short-break">Short Break</button>
      <button class="long-break">Long Break</button>
    </div>
    <p>25:00</p>
    <button class="start">Start</button>

    <script>
      const allButtons = document.querySelectorAll(".button-container button");
      const allColors = ["light-blue", "olive-brown", "olive-green"];
      const timings = [25, 5, 15];
      let isRunning = true;
      let seconds = 0;
      let intervalId = 0;

      for (let i = 0; i < allButtons.length; i++) {
        document.querySelectorAll(".button-container button")[i].addEventListener("click", function () {
            if (!this.classList.contains("active")) {
              this.classList.add("active");

              for (let j = 0; j < allButtons.length; j++) {
                if (allButtons[j] !== this) {
                  allButtons[j].classList.remove("active");
                }
              }
            }

            
            document.body.classList.remove(...allColors);
            document.body.classList.add(allColors[i]);

            document.querySelector(".start").textContent = "Start";
            isRunning = true;
            if (timings[i] < 10) {
              document.querySelector("p").textContent = "0" + timings[i] + ":00";
            } else {
              document.querySelector("p").textContent = timings[i] + ":00";
            }
            clearInterval(intervalId);

          });
      }

      document.querySelector(".start").addEventListener("click", function () {
        if (isRunning) {
          document.querySelector(".start").textContent = "Stop";

          for (let i = 0; i < allButtons.length; i++) {
            if (allButtons[i].classList.contains("active")) {
              seconds = timings[i] * 60;
              intervalId = setInterval(function () {
                if (seconds % 60 == 0) {
                  if (Math.floor(seconds / 60) < 10) {
                    document.querySelector("p").textContent = "0" + Math.floor(seconds / 60) + ":00";
                  } else {
                    document.querySelector("p").textContent = Math.floor(seconds / 60) + ":00";
                  }
                } else if (seconds % 60 != 0) {
                  if (seconds % 60 < 10) {
                    if (Math.floor(seconds / 60) < 10) {
                      document.querySelector("p").textContent = "0" + Math.floor(seconds / 60) + ":0" + (seconds % 60);
                    } else {
                      document.querySelector("p").textContent = Math.floor(seconds / 60) + ":0" + (seconds % 60);
                    }
                  } else {
                    if (Math.floor(seconds / 60) < 10) {
                      document.querySelector("p").textContent = "0" + Math.floor(seconds / 60) + ":" + (seconds % 60);
                    } else {
                      document.querySelector("p").textContent = Math.floor(seconds / 60) + ":" + (seconds % 60);
                    }
                  }
                }
                seconds--;

                if (seconds < 0) {
                  clearInterval(intervalId);
                  document.querySelector("p").textContent = "00:00";
                }
              }, 1000);
            }
          }

          isRunning = false;
          console.log("Timer started");
        } else {
          document.querySelector(".start").textContent = "Start";

          console.log(seconds);

          if (seconds % 60 == 0) {
            if (Math.floor(seconds / 60) < 10) {
              document.querySelector("p").textContent = "0" + Math.floor(seconds / 60) + ":00";
            } else {
              document.querySelector("p").textContent = Math.floor(seconds / 60) + ":00";
            }
          } else if (seconds % 60 != 0) {
            if (seconds % 60 < 10) {
              if (Math.floor(seconds / 60) < 10) {
                document.querySelector("p").textContent = "0" + Math.floor(seconds / 60) + ":0" + (seconds % 60);
              } else {
                document.querySelector("p").textContent = Math.floor(seconds / 60) + ":0" + (seconds % 60);
              }
            } else {
              if (Math.floor(seconds / 60) < 10) {
                document.querySelector("p").textContent = "0" + Math.floor(seconds / 60) + ":" + (seconds % 60);
              } else {
                document.querySelector("p").textContent = Math.floor(seconds / 60) + ":" + (seconds % 60);
              }
            }
          }

          clearInterval(intervalId);
          console.log("Timer stopped");
          isRunning = true;
        }
      });

    </script>
  </body>
</html>
