<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pomodoro</title>

    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>


    <div class="button-container">
      <button class="active">Pomodoro</button>
      <button>Short Break</button>
      <button>Long Break</button>
    </div>
    <p>25:00</p>
    <button class="start">Start</button>

    

    <script>
      function timeDisplay() {

        let seconds = timingsinSeconds[currentModeIndex] % 60;
        let minutes = Math.floor(timingsinSeconds[currentModeIndex] / 60);

        if (seconds == 0) {

          document.querySelector("p").textContent = document.querySelector("title").textContent = minutes < 10 ? "0" + minutes + ":00" : minutes + ":00";
          
        } else {

          if (seconds < 10) {
            document.querySelector("p").textContent = document.querySelector("title").textContent = minutes < 10 ? "0" + minutes + ":0" + seconds : minutes + ":0" + seconds;
          } else {
            document.querySelector("p").textContent =  document.querySelector("title").textContent = minutes < 10 ? "0" + minutes + ":" + seconds : minutes + ":" + seconds;
          }
        }
      }

      function playAudio(sound) {
        var audio = new Audio(`./sounds/${sound}.mp3`);
        audio.play();
      }

      const allButtons = document.querySelectorAll(".button-container button");
      const allColors = ["light-blue", "olive-brown", "olive-green"];
      const timings = [25, 5, 15];
      const timingsinSeconds = timings.map((t) => t * 60);
      let isRunning = true;
      let intervalId = 0;
      let currentModeIndex = 0;

      allButtons.forEach((button, i) => {
        button.addEventListener("click", function () {
          if (!this.classList.contains("active")) {
            this.classList.add("active");
            currentModeIndex = i;
            timingsinSeconds[currentModeIndex] = timings[i] * 60;

            allButtons.forEach((btn) => {
              if (btn !== this) {
                btn.classList.remove("active");
              }
            });

            document.body.classList.remove(...allColors);
            document.body.classList.add(allColors[i]);

            document.querySelector(".start").textContent = "Start";
            isRunning = true;
            if (timings[i] < 10) {
              document.querySelector("p").textContent = "0" + timings[i] + ":00";
            } else {
              document.querySelector("p").textContent = timings[i] + ":00";
            }

            clearInterval(intervalId);
          }
        });
      });


      document.querySelector(".start").addEventListener("click", function () {
        if (isRunning) {

          document.querySelector(".start").textContent = "Stop";
          playAudio("button-sound");

          intervalId = setInterval(function () {
            timeDisplay();

            timingsinSeconds[currentModeIndex]--;

            if (timingsinSeconds[currentModeIndex] < 0) {
              clearInterval(intervalId);
              document.querySelector("p").textContent = "00:00";
            }
          }, 1000);
          isRunning = false;
        } else {

          document.querySelector(".start").textContent = "Start";
          playAudio("button-sound");

          timeDisplay();

          clearInterval(intervalId);
          console.log("Timer stopped");
          isRunning = true;
        }
      });
    </script>
  </body>
</html>
