<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pomodoro</title>

    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <progress max="120" value="0"></progress>

    <div class="button-container">
      <button class="active">Pomodoro</button>
      <button class="short-break">Short Break</button>
      <button class="long-break">Long Break</button>
    </div>
    <p>25:00</p>
    <button class="start">Start</button>

    <script src="/js/pomodoro.js"></script>
  </body>
</html>
