<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pomodoro</title>

    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="button-container">
      <button class="active">Pomodoro</button>
      <button class="short-break">Short Break</button>
      <button class="long-break">Long Break</button>
    </div>
    <p>25:00</p>
    <button class="start">Start</button>

    <script>
      const allButtons = document.querySelectorAll(".button-container button");
      const allColors = ["light-blue", "olive-brown", "olive-green"];
      const timings = [25, 5, 15];
      const timingsinSeconds = timings.map(t => t * 60);
      let isRunning = true;
      let intervalId = 0;
      let currentModeIndex = 0;

      for (let i = 0; i < allButtons.length; i++) {
        document.querySelectorAll(".button-container button")[i].addEventListener("click", function () {
            if (!this.classList.contains("active")) {
              this.classList.add("active");

              currentModeIndex = i;
              timingsinSeconds[currentModeIndex] = timings[i] * 60;

              for (let j = 0; j < allButtons.length; j++) {
                if (allButtons[j] !== this) {
                  allButtons[j].classList.remove("active");
                }
              }
            }

            document.body.classList.remove(...allColors);
            document.body.classList.add(allColors[i]);

            document.querySelector(".start").textContent = "Start";
            isRunning = true;
            if (timings[i] < 10) {
              document.querySelector("p").textContent = "0" + timings[i] + ":00";
            } else {
              document.querySelector("p").textContent = timings[i] + ":00";
            }
            clearInterval(intervalId);
          });
      }

      document.querySelector(".start").addEventListener("click", function () {
        if (isRunning) {

          setTimeout(() => {
            document.querySelector(".start").textContent = "Stop";
          }, 1000);
        
          intervalId = setInterval(function () {
            if (timingsinSeconds[currentModeIndex] % 60 == 0) {
              if (Math.floor(timingsinSeconds[currentModeIndex] / 60) < 10) {
                document.querySelector("p").textContent = "0" + Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":00";
              } else {
                document.querySelector("p").textContent = Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":00";
              }
            } else if (timingsinSeconds[currentModeIndex] % 60 != 0) {
              if (timingsinSeconds[currentModeIndex] % 60 < 10) {
                if (Math.floor(timingsinSeconds[currentModeIndex] / 60) < 10) {
                  document.querySelector("p").textContent = "0" + Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":0" + (timingsinSeconds[currentModeIndex] % 60);
                } else {
                  document.querySelector("p").textContent = Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":0" + (timingsinSeconds[currentModeIndex] % 60);
                }
              } else {
                if (Math.floor(timingsinSeconds[currentModeIndex] / 60) < 10) {
                  document.querySelector("p").textContent = "0" + Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":" + (timingsinSeconds[currentModeIndex] % 60);
                } else {
                  document.querySelector("p").textContent = Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":" + (timingsinSeconds[currentModeIndex] % 60);
                }
              }
            }
            timingsinSeconds[currentModeIndex]--;

            if (timingsinSeconds[currentModeIndex] < 0) {
              clearInterval(intervalId);
              document.querySelector("p").textContent = "00:00";
            }
          }, 1000);
          isRunning = false;
        } else {

          setTimeout(() => {
            document.querySelector(".start").textContent = "Start";
          }, 1000);

          if (timingsinSeconds[currentModeIndex] % 60 == 0) {
            if (Math.floor(timingsinSeconds[currentModeIndex] / 60) < 10) {
              document.querySelector("p").textContent = "0" + Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":00";
            } else {
              document.querySelector("p").textContent = Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":00";
            }
          } else if (timingsinSeconds[currentModeIndex] % 60 != 0) {
            if (timingsinSeconds[currentModeIndex] % 60 < 10) {
              if (Math.floor(timingsinSeconds[currentModeIndex] / 60) < 10) {
                document.querySelector("p").textContent = "0" + Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":0" + (timingsinSeconds[currentModeIndex] % 60);
              } else {
                document.querySelector("p").textContent = Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":0" + (timingsinSeconds[currentModeIndex] % 60);
              }
            } else {
              if (Math.floor(timingsinSeconds[currentModeIndex] / 60) < 10) {
                document.querySelector("p").textContent = "0" + Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":" + (timingsinSeconds[currentModeIndex] % 60);
              } else {
                document.querySelector("p").textContent = Math.floor(timingsinSeconds[currentModeIndex] / 60) + ":" + (timingsinSeconds[currentModeIndex] % 60);
              }
            }
          }

          clearInterval(intervalId);
          console.log("Timer stopped");
          isRunning = true;
        }
      });
    </script>
  </body>
</html>
