<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pomodoro</title>

    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <progress max="1500" value="0"></progress>

    <div class="button-container">
      <div class="mode">
        <span class="checkmark" id="pomodoro-check"></span>
        <button class="active" data-mode="pomodoro">Pomodoro</button>
      </div>
      <div class="mode">
        <span class="checkmark" id="short-check"></span>
        <button data-mode="short">Short Break</button>
      </div>
      <div class="mode">
        <span class="checkmark" id="long-check"></span>
        <button data-mode="long">Long Break</button>
      </div>
    </div>
    <p>25:00</p>


    <div class="start-reset-button-container">
      <button class="start">Start</button>
      <button class="reset">Reset</button>
    </div>
    

    <script src="./js/pomodoro.js"></script>
  </body>
</html>
