body {
    background-color: #4DA8DA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.button-container button {
  border: none;  
  background: transparent;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.start-reset-button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-container button.active {
    border: 2px solid white;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkmark {
    color: #06923E;
    font-size: 1rem;
    margin-bottom: 4px;
    height: 1rem;
    transition: all 0.3s ease;
}

.sky-blue {
    background-color: #4DA8DA;
}

.dark-blue {
    background-color: #499AC6;
}

.teal-green {
    background-color: #80D8C3;
}

.golden-yellow {
    background-color: #FFD66B;
}

p {
    font-size: 10rem;
    margin: 40px;
    padding: 20px;
}

.start, .reset {
  background-color: white;
  color: #3f736a;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 0 #e0e0e0; /* soft shadow for 3D effect */
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.start:active {
  transform: translateY(3px);
  box-shadow: 0 3px 0 #e0e0e0;
}

progress{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    z-index: 9999;
    appearance: none;
    -webkit-appearance: none;
    border: none;
}

progress::-webkit-progress-bar {
    background-color: #3682AB;
}

progress.dark-teal-green::-webkit-progress-bar {
    background-color: #5FBCA7;
}

progress.dark-golden-yellow::-webkit-progress-bar {
    background-color: #E6B84F;
}

progress::-webkit-progress-value {
    background-color: white;
}

progress::-moz-progress-bar {
    background-color: white;
}